#jinja2: trim_blocks: False
{
{%- set backend_list=configdrive_network_device_list | selectattr("backend", "defined") | map(attribute='backend') | list | unique %}
{%- set device_list=configdrive_network_device_list | map(attribute='device') | list %}
    "links": [
{%- for dev in configdrive_network_device_list %}
{%- if dev.type | default == "vlan" and dev.backend is defined and dev.backend[0] not in device_list %}
        {
            "name": "{{ dev.backend[0] }}",
            "id": "{{ dev.backend[0] }}",
            "type": "phy"
        },
{%- endif %}
        {
            "name": "{{ dev.device }}",
            "id": "{{ dev.device }}",
            "type": "{{ dev.type | default('phy') }}",
{%- if dev.type | default == "vlan" and dev.backend is defined %}
            "vlan_id": {{ dev.device.split('.')[1] }},
            "vlan_link": "{{ dev.backend[0] }}",
            "vlan_mac_address": {% if dev.mac is defined %}"{{ dev.mac }}"{% else %}null{% endif %},
{%- elif dev.mac is defined %}
            "ethernet_mac_address": "{{ dev.mac }}",
{%- endif %}
            "mtu": "{{ dev.mtu | default(1500) }}"
        }{% if not loop.last %},{% endif %}
{%- endfor %}
    ],
    "networks": [
{%- for dev in configdrive_network_device_list %}
{%- if dev.address is not defined %}
{%- else %}
    {
        "id": "{{ dev.type | default('phy') }}-{{ dev.device }}",
        "type": "ipv4",
        "link": "{{ dev.device }}",
        "ip_address": "{{ dev.address }}",
{%- if dev.netmask is defined %}
        "netmask": "{{ dev.netmask }}",
{%- endif %}
{%- if dev.nameservers is defined %}
        "dns_nameservers": [
{%- for d in dev.nameservers %}
            "{{ d }}"{% if not loop.last %},{% endif %}
{%- endfor %}
        ],
{%- endif %}
        "routes": [
{%- set route_list=[] %}
{%- if dev.gateway is defined %}
{%- set _=route_list.append({"network": "0.0.0.0", "netmask": "0.0.0.0", "gateway": dev.gateway}) %}
{%- endif %}
{%- for i in dev.route | default([]) %}
{%- set _=route_list.append({"network": i.network, "netmask": i.netmask, "gateway": i.gateway}) %}
{%- endfor %}
{%- for i in route_list %}
            {
                "network": "{{ i.network }}",
                "netmask": "{{ i.netmask}}",
                "gateway": "{{ i.gateway }}"
            }{% if not loop.last %},{% endif %}
{%- endfor %}
        ]
    }{% if not loop.last %},{% endif %}
{%- endif %}   
{%- endfor %}
    ],
    "services": [
{%- if configdrive_resolv is defined and configdrive_resolv.dns is defined %}
{%- for d in configdrive_resolv.dns %}
        {
            "type": "dns",
            "address": "{{ d }}"
        }{% if not loop.last %},{% endif %}
{%- endfor %}
{%- endif %}
    ]
}

